<span th:fragment="customerNav">
    <nav class="navbar navbar-expand navbar-light bg-primary sticky-top">
        <div class="collapse navbar-collapse">
            <a class="navbar-brand"><b>Book Shelf Store</b></a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active bi bi-cart-fill"
                           href="/cart" th:text="${numberOfItems} + ' Cart'"></a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" th:if="${userName != null}">
                    <li class="nav-item">
                        <div class="nav-link active" th:text="'hello ' + ${userName}"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/logout"><b>log out</b></a>
                    </li>
                </ul>
                <form class="col-sm-4" method="GET" th:action="@{/search}">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search"
                               th:name="searchInp" type="text form-control me-2"/>
                        <button class="btn btn-outline-light bi bi-search" type="submit"> Search</button>
                        <a aria-current="page" class="btn btn-outline-light bi bi-bootstrap-reboot"
                           href="/resetSearch"></a>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</span>